<!DOCTYPE html>
<html>
    <head>
        <title>Socket Rooms</title>
        <style>
            body {
                height: 100vh;
                width: 100vw;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        </style>
    </head>
    <body>
        <div>
            <input placeholder="Username" />
            <button>Join Room</button>
        </div>

        <div>
            <ul>
                <!-- The users in the room will be inserted here-->
            </ul>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
        <script>
            var socket = io();
 
            // join room with username on button click
            document.querySelectorAll('button')[0].addEventListener('click', function() {
                var username = document.querySelectorAll('input')[0].value;
                socket.emit('joinRoom', username);
            }, true);
            
            socket.on('updateRoom', function(roomData){
                // process updated roomData
                var userlist = '';
                for (var user in roomData['player']){
                    userlist += '<li>' + roomData['player'][user].username + '</li>';
                }

                document.querySelectorAll('ul')[0].innerHTML = userlist;
            });
        </script>
    </body>
</html>